#reasonDIV_1 {
    block-size: 704px;
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    bottom: 0px;
    box-sizing: border-box;
    height: 704px;
    inline-size: 1583px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    margin-block-start: 40px;
    padding-inline-end: 40px;
    padding-inline-start: 40px;
    perspective-origin: 791.5px 352px;
    position: relative;
    right: 0px;
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 791.5px 352px;
    width: 1583px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 40px 0px 0px;
    overflow: hidden;
    padding: 0px 40px;
}/*#reasonDIV_1*/

#reasonDIV_1:after {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonDIV_1:after*/

#reasonDIV_1:before {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonDIV_1:before*/

#reasonDIV_2 {
    block-size: 384px;
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    bottom: 320px;
    box-sizing: border-box;
    height: 384px;
    inline-size: 1583px;
    inset-block-end: 320px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    padding-block-end: 192px;
    padding-block-start: 192px;
    perspective-origin: 791.5px 192px;
    position: absolute;
    right: 0px;
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 791.5px 192px;
    width: 1583px;
    background: rgba(204, 234, 254, 0.25) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding: 192px 0px;
}/*#reasonDIV_2*/

#reasonDIV_2:after {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonDIV_2:after*/

#reasonDIV_2:before {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonDIV_2:before*/

#reasonPICTURE_3, #reasonSOURCE_4, #reasonPICTURE_6, #reasonSOURCE_15, #reasonSOURCE_22, #reasonSOURCE_29 {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    perspective-origin: 0px 0px;
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonPICTURE_3, #reasonSOURCE_4, #reasonPICTURE_6, #reasonSOURCE_15, #reasonSOURCE_22, #reasonSOURCE_29*/

#reasonPICTURE_3:after, #reasonSOURCE_4:after, #reasonPICTURE_6:after, #reasonSOURCE_15:after, #reasonSOURCE_22:after, #reasonSOURCE_29:after {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonPICTURE_3:after, #reasonSOURCE_4:after, #reasonPICTURE_6:after, #reasonSOURCE_15:after, #reasonSOURCE_22:after, #reasonSOURCE_29:after*/

#reasonPICTURE_3:before, #reasonSOURCE_4:before, #reasonPICTURE_6:before, #reasonSOURCE_15:before, #reasonSOURCE_22:before, #reasonSOURCE_29:before {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonPICTURE_3:before, #reasonSOURCE_4:before, #reasonPICTURE_6:before, #reasonSOURCE_15:before, #reasonSOURCE_22:before, #reasonSOURCE_29:before*/

#reasonIMG_5 {
    block-size: 562.172px;
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    bottom: 61.8281px;
    box-sizing: border-box;
    display: block;
    height: 562.172px;
    inline-size: 256px;
    inset-block-end: 61.8281px;
    inset-block-start: 80px;
    inset-inline-end: 1327px;
    inset-inline-start: 0px;
    left: 0px;
    max-inline-size: 100%;
    max-width: 100%;
    perspective-origin: 128px 281.078px;
    position: absolute;
    right: 1327px;
    text-size-adjust: 100%;
    top: 80px;
    transform-origin: 128px 281.086px;
    vertical-align: middle;
    width: 256px;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonIMG_5*/

#reasonIMG_5:after {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonIMG_5:after*/

#reasonIMG_5:before {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonIMG_5:before*/

#reasonSOURCE_7 {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    perspective-origin: 0px 0px;
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonSOURCE_7*/

#reasonSOURCE_7:after {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonSOURCE_7:after*/

#reasonSOURCE_7:before {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonSOURCE_7:before*/

#reasonIMG_8 {
    block-size: 398.859px;
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    bottom: 225.141px;
    box-sizing: border-box;
    display: block;
    height: 398.859px;
    inline-size: 256px;
    inset-block-end: 225.141px;
    inset-block-start: 80px;
    inset-inline-end: 0px;
    inset-inline-start: 1327px;
    left: 1327px;
    max-inline-size: 100%;
    max-width: 100%;
    perspective-origin: 128px 199.422px;
    position: absolute;
    right: 0px;
    text-size-adjust: 100%;
    top: 80px;
    transform-origin: 128px 199.43px;
    vertical-align: middle;
    width: 256px;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonIMG_8*/

#reasonIMG_8:after {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonIMG_8:after*/

#reasonIMG_8:before {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonIMG_8:before*/

#reasonDIV_9 {
    margin-left: 200px;
    block-size: 549px;
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    bottom: 0px;
    box-sizing: border-box;
    height: 549px;
    inline-size: 1152px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    max-inline-size: 1152px;
    max-width: 1152px;
    perspective-origin: 576px 274.5px;
    position: relative;
    right: 0px;
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 576px 274.5px;
    width: 1152px;
    z-index: 10;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonDIV_9*/

#reasonDIV_9:after {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonDIV_9:after*/

#reasonDIV_9:before {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonDIV_9:before*/

#reasonH1_10 {
    block-size: 45px;
    
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    height: 45px;
    inline-size: 1152px;
    margin-block-end: 40px;
    margin-block-start: 64px;
    perspective-origin: 576px 22.5px;
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    transform-origin: 576px 22.5px;
    width: 1152px;
    border: 0px solid rgb(51, 51, 51);
    font: 700 36px / 45px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 64px 0px 40px;
    outline: rgb(51, 51, 51) none 0px;
}/*#reasonH1_10*/

#reasonH1_10:after {
    border-block-end-color: rgb(51, 51, 51);
    border-block-end-style: solid;
    border-block-start-color: rgb(51, 51, 51);
    border-block-start-style: solid;
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(51, 51, 51);
    border-inline-start-style: solid;
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    border: 0px solid rgb(51, 51, 51);
    font: 700 36px / 45px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(51, 51, 51) none 0px;
}/*#reasonH1_10:after*/

#reasonH1_10:before {
    border-block-end-color: rgb(51, 51, 51);
    border-block-end-style: solid;
    border-block-start-color: rgb(51, 51, 51);
    border-block-start-style: solid;
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(51, 51, 51);
    border-inline-start-style: solid;
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    border: 0px solid rgb(51, 51, 51);
    font: 700 36px / 45px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(51, 51, 51) none 0px;
}/*#reasonH1_10:before*/

#reasonDIV_11 {
    block-size: 464px;
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    display: flex;
    height: 464px;
    inline-size: 1152px;
    justify-content: center;
    perspective-origin: 576px 232px;
    text-size-adjust: 100%;
    transform-origin: 576px 232px;
    width: 1152px;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonDIV_11*/

#reasonDIV_11:after {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    display: block;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonDIV_11:after*/

#reasonDIV_11:before {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    display: block;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonDIV_11:before*/

#reasonDIV_12, #reasonDIV_19, #reasonDIV_26 {
    block-size: 432px;
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    box-sizing: border-box;
    display: flex;
    height: 432px;
    inline-size: 352px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    justify-content: space-between;
    left: 0px;
    margin-block-end: 16px;
    margin-block-start: 16px;
    margin-inline-end: 16px;
    margin-inline-start: 16px;
  
   
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-block-end: 20px;
    perspective-origin: 176px 216px;
    position: relative;
    right: 0px;
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 176px 216px;
    width: 352px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px solid rgb(0, 0, 0);
    flex-flow: column nowrap;
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 16px;
    padding: 0px 0px 20px;
}/*#reasonDIV_12, #reasonDIV_19, #reasonDIV_26*/

#reasonDIV_12:after, #reasonDIV_19:after, #reasonDIV_26:after {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    display: block;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonDIV_12:after, #reasonDIV_19:after, #reasonDIV_26:after*/

#reasonDIV_12:before, #reasonDIV_19:before, #reasonDIV_26:before {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    display: block;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonDIV_12:before, #reasonDIV_19:before, #reasonDIV_26:before*/

#reasonDIV_13 {
    block-size: 256px;
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-end-end-radius: 9999px;
    border-end-start-radius: 9999px;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    height: 256px;
    inline-size: 264px;
    margin-inline-end: 44px;
    margin-inline-start: 44px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-block-end: 128px;
    padding-block-start: 128px;
    padding-inline-end: 20px;
    padding-inline-start: 20px;
    perspective-origin: 132px 128px;
    text-size-adjust: 100%;
    transform-origin: 132px 128px;
    width: 264px;
    z-index: 0;
    background: rgb(255, 246, 245) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px solid rgb(0, 0, 0);
    border-radius: 0px 0px 9999px 9999px;
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0px 44px;
    padding: 128px 20px;
}/*#reasonDIV_13*/

#reasonDIV_13:after {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonDIV_13:after*/

#reasonDIV_13:before {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonDIV_13:before*/

#reasonPICTURE_14, #reasonPICTURE_21, #reasonPICTURE_28 {
    block-size: 0px;
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    display: block;
    height: 0px;
    inline-size: 352px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 176px 0px;
    text-size-adjust: 100%;
    transform-origin: 176px 0px;
    width: 352px;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonPICTURE_14, #reasonPICTURE_21, #reasonPICTURE_28*/

#reasonPICTURE_14:after, #reasonPICTURE_21:after, #reasonPICTURE_28:after {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonPICTURE_14:after, #reasonPICTURE_21:after, #reasonPICTURE_28:after*/

#reasonPICTURE_14:before, #reasonPICTURE_21:before, #reasonPICTURE_28:before {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonPICTURE_14:before, #reasonPICTURE_21:before, #reasonPICTURE_28:before*/

#reasonIMG_16 {
    block-size: 192px;
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    bottom: 0px;
    box-sizing: border-box;
    display: block;
    height: 192px;
    inline-size: 192px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    margin-block-start: 48px;
    max-inline-size: 100%;
    max-width: 100%;
    perspective-origin: 96px 96px;
    position: absolute;
    right: 0px;
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 96px 96px;
    vertical-align: middle;
    width: 192px;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 48px 0px 0px;
    margin-left: 80px;
}/*#reasonIMG_16*/

#reasonIMG_16:after {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonIMG_16:after*/

#reasonIMG_16:before {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonIMG_16:before*/

#reasonDIV_17, #reasonDIV_24, #reasonDIV_31 {
   
    box-sizing: border-box;
    height: 128px;
    
    margin-block-end: 20px;
    margin-block-start: 8px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-inline-end: 32px;
    padding-inline-start: 32px;
    perspective-origin: 176px 64px;
    text-align: center;
    text-size-adjust: 100%;
    transform-origin: 176px 64px;
   
    z-index: 10;
    border: 0px solid rgb(0, 0, 0);
    font: 500 18px / 27px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 8px 0px 20px;
    padding: 0px 32px;
}/*#reasonDIV_17, #reasonDIV_24, #reasonDIV_31*/

#reasonDIV_17:after, #reasonDIV_24:after, #reasonDIV_31:after {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    text-align: center;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 500 18px / 27px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonDIV_17:after, #reasonDIV_24:after, #reasonDIV_31:after*/

#reasonDIV_17:before, #reasonDIV_24:before, #reasonDIV_31:before {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    text-align: center;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 500 18px / 27px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonDIV_17:before, #reasonDIV_24:before, #reasonDIV_31:before*/

#reasonSPAN_18, #reasonSPAN_25, #reasonSPAN_32 {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    perspective-origin: 0px 0px;
    text-align: center;
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border: 0px solid rgb(0, 0, 0);
    font: 500 18px / 22.5px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonSPAN_18, #reasonSPAN_25, #reasonSPAN_32*/

#reasonSPAN_18:after, #reasonSPAN_25:after, #reasonSPAN_32:after {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    text-align: center;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 500 18px / 22.5px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonSPAN_18:after, #reasonSPAN_25:after, #reasonSPAN_32:after*/

#reasonSPAN_18:before, #reasonSPAN_25:before, #reasonSPAN_32:before {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    text-align: center;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 500 18px / 22.5px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonSPAN_18:before, #reasonSPAN_25:before, #reasonSPAN_32:before*/

#reasonDIV_20 {
    block-size: 256px;
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-end-end-radius: 9999px;
    border-end-start-radius: 9999px;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    height: 256px;
    inline-size: 264px;
    margin-inline-end: 44px;
    margin-inline-start: 44px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-block-end: 128px;
    padding-block-start: 128px;
    padding-inline-end: 20px;
    padding-inline-start: 20px;
    perspective-origin: 132px 128px;
    text-size-adjust: 100%;
    transform-origin: 132px 128px;
    width: 264px;
    z-index: 0;
    background: rgb(250, 233, 230) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px solid rgb(0, 0, 0);
    border-radius: 0px 0px 9999px 9999px;
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0px 44px;
    padding: 128px 20px;
}/*#reasonDIV_20*/

#reasonDIV_20:after {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonDIV_20:after*/

#reasonDIV_20:before {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonDIV_20:before*/

#reasonIMG_23 {
    block-size: 192.344px;
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    bottom: 0px;
    box-sizing: border-box;
    display: block;
    height: 192.344px;
    inline-size: 192px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    margin-block-start: 48px;
    max-inline-size: 100%;
    max-width: 100%;
    perspective-origin: 96px 96.1719px;
    position: absolute;
    right: 0px;
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 96px 96.1719px;
    vertical-align: middle;
    width: 192px;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 48px 0px 0px;
    margin-left: 80px;
}/*#reasonIMG_23*/

#reasonIMG_23:after {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonIMG_23:after*/

#reasonIMG_23:before {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonIMG_23:before*/

#reasonDIV_27 {
    block-size: 256px;
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-end-end-radius: 9999px;
    border-end-start-radius: 9999px;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    height: 256px;
    inline-size: 264px;
    margin-inline-end: 44px;
    margin-inline-start: 44px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-block-end: 128px;
    padding-block-start: 128px;
    padding-inline-end: 20px;
    padding-inline-start: 20px;
    perspective-origin: 132px 128px;
    text-size-adjust: 100%;
    transform-origin: 132px 128px;
    width: 264px;
    z-index: 0;
    background: rgba(204, 234, 254, 0.5) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px solid rgb(0, 0, 0);
    border-radius: 0px 0px 9999px 9999px;
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0px 44px;
    padding: 128px 20px;
}/*#reasonDIV_27*/

#reasonDIV_27:after {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonDIV_27:after*/

#reasonDIV_27:before {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonDIV_27:before*/

#reasonIMG_30 {
    block-size: 192.75px;
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    bottom: 0px;
    box-sizing: border-box;
    display: block;
    height: 192.75px;
    inline-size: 192px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    margin-block-start: 48px;
    max-inline-size: 100%;
    max-width: 100%;
    perspective-origin: 96px 96.375px;
    position: absolute;
    right: 0px;
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 96px 96.375px;
    vertical-align: middle;
    width: 192px;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 48px 0px 0px;
    margin-left: 80px;
}/*#reasonIMG_30*/

#reasonIMG_30:after {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonIMG_30:after*/

#reasonIMG_30:before {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonIMG_30:before*/

#reasonDIV_33 {
    block-size: 51px;
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    display: flex;
    height: 51px;
    inline-size: 1503px;
    margin-block-start: 40px;
    perspective-origin: 751.5px 25.5px;
    text-size-adjust: 100%;
    transform-origin: 751.5px 25.5px;
    width: 1503px;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 40px 0px 0px;
}/*#reasonDIV_33*/

#reasonDIV_33:after {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    display: block;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonDIV_33:after*/

#reasonDIV_33:before {
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    display: block;
    text-size-adjust: 100%;
    border: 0px solid rgb(0, 0, 0);
    font: 16px / 24px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}/*#reasonDIV_33:before*/

#reasonA_34 {
    align-items: center;
    block-size: 51px;
    border-block-end-color: rgb(255, 90, 67);
    border-block-end-style: solid;
    border-block-end-width: 1px;
    border-block-start-color: rgb(255, 90, 67);
    border-block-start-style: solid;
    border-block-start-width: 1px;
    border-end-end-radius: 4px;
    border-end-start-radius: 4px;
    border-inline-end-color: rgb(255, 90, 67);
    border-inline-end-style: solid;
    border-inline-end-width: 1px;
    border-inline-start-color: rgb(255, 90, 67);
    border-inline-start-style: solid;
    border-inline-start-width: 1px;
    border-start-end-radius: 4px;
    border-start-start-radius: 4px;
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    display: flex;
    height: 51px;
    inline-size: 306.391px;
    margin-inline-end: 598.297px;
    margin-inline-start: 598.297px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-block-end: 12px;
    padding-block-start: 12px;
    padding-inline-end: 40px;
    padding-inline-start: 40px;
    perspective-origin: 153.188px 25.5px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    transform-origin: 153.195px 25.5px;
    vertical-align: middle;
    width: 306.391px;
    background: rgb(255, 90, 67) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(255, 90, 67);
    border-radius: 4px;
    font: 600 20px / 25px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0px 598.297px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 12px 40px;
}/*#reasonA_34*/

#reasonA_34:after {
    border-block-end-color: rgb(255, 255, 255);
    border-block-end-style: solid;
    border-block-start-color: rgb(255, 255, 255);
    border-block-start-style: solid;
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(255, 255, 255);
    border-inline-start-style: solid;
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    display: block;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    border: 0px solid rgb(255, 255, 255);
    font: 600 20px / 25px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(255, 255, 255) none 0px;
}/*#reasonA_34:after*/

#reasonA_34:before {
    border-block-end-color: rgb(255, 255, 255);
    border-block-end-style: solid;
    border-block-start-color: rgb(255, 255, 255);
    border-block-start-style: solid;
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-end-style: solid;
    border-inline-start-color: rgb(255, 255, 255);
    border-inline-start-style: solid;
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    display: block;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    border: 0px solid rgb(255, 255, 255);
    font: 600 20px / 25px "Proxima Nova", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    outline: rgb(255, 255, 255) none 0px;
}/*#reasonA_34:before*/

@media (min-width: 0px) and (max-width: 768px){
    #reasonDIV_11 {
display: flex;
flex-direction: column;
margin-top: 500px;
    }

    #reasonDIV_1{
        margin-top: 1950px;
        height: 1550px;
    }
    #reasonH1_10{
        width: 90vw;
        font-size: 7vw;
      margin-left: -200px;

    }
    #reasonDIV_12{
        width: 90vw;
        font-size: 7vw;
      margin-left: -220px;

    }
    #reasonDIV_13,#reasonDIV_20,#reasonDIV_27{
        width: 80%;
    }
    #reasonA_34{
        display: none;
    }
    #reasonSPAN_18, #reasonSPAN_25, #reasonSPAN_32{
        font-size: 1rem!important;
        max-width: 100%;
    }

    #reasonDIV_19{
        width: 90vw;
        font-size: 7vw;
      margin-left: -220px;

    }
    #reasonDIV_26{
        width: 90vw;
        font-size: 7vw;
      margin-left: -220px;

    }

    #plvP_4{
        
        font-size: 1.9rem;
      margin-left: -1250px;
z-index: 3;
max-width: 100%;

    }

    #plvDIV_6{
      
        font-size: 7vw;
      margin-left: -170px;
      width: 94vw;
    }
  

    #plvIMG_13{
        margin-left: -220px;
        height: 80px;
        width: 80px;
        margin-top: -200px;
    }
    #plvIMG_7{
        height: 20px;
        width: 20px;
    }
    #plvIMG_8{
        margin-left: -50px;
        margin-top: -20px;
        height: 30px;
        
    }
    #plvIMG_9{
        margin-top: -80px;
        height: 50px;
    }

    #plvDIV_16{
        margin-left: -170px;
        font-size: 7vw;
        margin-top:150px;
        width: 94vw;
        
    }

    #plvIMG_17{
        height: 20px;
        width: 20px;
    }
    #plvIMG_18{
        margin-left: -50px;
        margin-top: -20px;
        height: 30px;
        
    }
    #plvIMG_19{
        margin-top: -120px;
        height: 50px;
    }
    #plvIMG_23{
        margin-left: -220px;
        height: 80px;
        width: 80px;
        margin-top: -200px;
    }

    #plvIMG_10, #plvIMG_20{
        margin-top: -100px;
    }

    #plvDIV_6, #plvDIV_16,#studentsDIV_12, #studentsDIV_22 {
        max-width: 100%;
    }
    #plvP_14, #plvP_24{
        font-size: 1rem;
        max-width: 100%;
        margin-right: 0px;
    }

    #plvP_24{
        height: 90px;
    }

}
@media (min-width: 625px) and (max-width: 668px){
    #plvP_4{
        margin-left: -1000px;
    }
}
@media (min-width: 668px) and (max-width: 768px){
    #plvP_4{
        margin-left: -700px;
    }
}

