/* whycjuni 1 */

#whycjuni1DIV_1 {
    block-size: 728.406px;
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    box-sizing: border-box;
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    height: 728.406px;
    inline-size: 1583px;
    padding-block-start: 60px;
    perspective-origin: 791.5px 364.203px;
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 791.5px 364.203px;
    width: 1583px;
    border: 0px none rgb(108, 119, 136);
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(108, 119, 136) none 0px;
    padding: 60px 0px 0px;
}/*#whycjuni1DIV_1*/

#whycjuni1DIV_1:after {
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    border: 0px none rgb(108, 119, 136);
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(108, 119, 136) none 0px;
}/*#whycjuni1DIV_1:after*/

#whycjuni1DIV_1:before {
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    border: 0px none rgb(108, 119, 136);
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(108, 119, 136) none 0px;
}/*#whycjuni1DIV_1:before*/

#whycjuni1DIV_2 {
    align-items: stretch;
    block-size: 54px;
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    box-sizing: border-box;
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    height: 54px;
    inline-size: 1272px;
    justify-content: space-between;
    margin-block-end: 30px;
    margin-inline-end: 155.5px;
    margin-inline-start: 155.5px;
    max-inline-size: 1272px;
    max-width: 1272px;
    perspective-origin: 636px 27px;
    text-align: center;
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    transform-origin: 636px 27px;
    width: 1272px;
    border: 0px none rgb(108, 119, 136);
    flex-flow: column nowrap;
    font: 13px / 24px Cabin, sans-serif;
    margin: 0px 155.5px 30px;
    outline: rgb(108, 119, 136) none 0px;
}/*#whycjuni1DIV_2*/

#whycjuni1DIV_2:after {
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    text-align: center;
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    border: 0px none rgb(108, 119, 136);
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(108, 119, 136) none 0px;
}/*#whycjuni1DIV_2:after*/

#whycjuni1DIV_2:before {
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    text-align: center;
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    border: 0px none rgb(108, 119, 136);
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(108, 119, 136) none 0px;
}/*#whycjuni1DIV_2:before*/

#whycjuni1DIV_3 {
    align-items: center;
    block-size: 54px;
    border-block-end-color: rgb(22, 42, 76);
    border-block-start-color: rgb(22, 42, 76);
    border-inline-end-color: rgb(22, 42, 76);
    border-inline-start-color: rgb(22, 42, 76);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(22, 42, 76);
    color: rgb(22, 42, 76);
    column-rule-color: rgb(22, 42, 76);
    height: 54px;
    inline-size: 1272px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    justify-content: center;
    left: 0px;
    max-inline-size: 1272px;
    max-width: 1272px;
    padding-inline-end: 30px;
    padding-inline-start: 30px;
    perspective-origin: 636px 10.7969px;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(22, 42, 76);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 636px 27px;
    width: 1272px;
    z-index: 3;
    border: 0px none rgb(22, 42, 76);
    flex-flow: column nowrap;
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(22, 42, 76) none 0px;
    padding: 0px 30px;
}/*#whycjuni1DIV_3*/

#whycjuni1DIV_3:after {
    border-block-end-color: rgb(22, 42, 76);
    border-block-start-color: rgb(22, 42, 76);
    border-inline-end-color: rgb(22, 42, 76);
    border-inline-start-color: rgb(22, 42, 76);
    caret-color: rgb(22, 42, 76);
    color: rgb(22, 42, 76);
    column-rule-color: rgb(22, 42, 76);
    text-align: center;
    text-decoration: none solid rgb(22, 42, 76);
    text-size-adjust: 100%;
    border: 0px none rgb(22, 42, 76);
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(22, 42, 76) none 0px;
}/*#whycjuni1DIV_3:after*/

#whycjuni1DIV_3:before {
    border-block-end-color: rgb(22, 42, 76);
    border-block-start-color: rgb(22, 42, 76);
    border-inline-end-color: rgb(22, 42, 76);
    border-inline-start-color: rgb(22, 42, 76);
    caret-color: rgb(22, 42, 76);
    color: rgb(22, 42, 76);
    column-rule-color: rgb(22, 42, 76);
    text-align: center;
    text-decoration: none solid rgb(22, 42, 76);
    text-size-adjust: 100%;
    border: 0px none rgb(22, 42, 76);
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(22, 42, 76) none 0px;
}/*#whycjuni1DIV_3:before*/

#whycjuni1H2_4 {
    block-size: 54px;
    border-block-end-color: rgb(22, 42, 76);
    border-block-start-color: rgb(22, 42, 76);
    border-inline-end-color: rgb(22, 42, 76);
    border-inline-start-color: rgb(22, 42, 76);
    box-sizing: border-box;
    caret-color: rgb(22, 42, 76);
    color: rgb(22, 42, 76);
    column-rule-color: rgb(22, 42, 76);
    height: 54px;
    inline-size: 1212px;
    margin-block-end: 10px;
    margin-block-start: 0px;
    perspective-origin: 606px 27px;
    text-align: center;
    text-decoration: none solid rgb(22, 42, 76);
    text-size-adjust: 100%;
    transform-origin: 606px 27px;
    width: 1212px;
    border: 0px none rgb(22, 42, 76);
    font: 700 45px / 54px Cabin, sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(22, 42, 76) none 0px;
}/*#whycjuni1H2_4*/

#whycjuni1H2_4:after {
    border-block-end-color: rgb(22, 42, 76);
    border-block-start-color: rgb(22, 42, 76);
    border-inline-end-color: rgb(22, 42, 76);
    border-inline-start-color: rgb(22, 42, 76);
    caret-color: rgb(22, 42, 76);
    color: rgb(22, 42, 76);
    column-rule-color: rgb(22, 42, 76);
    text-align: center;
    text-decoration: none solid rgb(22, 42, 76);
    text-size-adjust: 100%;
    border: 0px none rgb(22, 42, 76);
    font: 700 45px / 54px Cabin, sans-serif;
    outline: rgb(22, 42, 76) none 0px;
}/*#whycjuni1H2_4:after*/

#whycjuni1H2_4:before {
    border-block-end-color: rgb(22, 42, 76);
    border-block-start-color: rgb(22, 42, 76);
    border-inline-end-color: rgb(22, 42, 76);
    border-inline-start-color: rgb(22, 42, 76);
    caret-color: rgb(22, 42, 76);
    color: rgb(22, 42, 76);
    column-rule-color: rgb(22, 42, 76);
    text-align: center;
    text-decoration: none solid rgb(22, 42, 76);
    text-size-adjust: 100%;
    border: 0px none rgb(22, 42, 76);
    font: 700 45px / 54px Cabin, sans-serif;
    outline: rgb(22, 42, 76) none 0px;
}/*#whycjuni1H2_4:before*/

#whycjuni1BR_5 {
    border-block-end-color: rgb(22, 42, 76);
    border-block-start-color: rgb(22, 42, 76);
    border-inline-end-color: rgb(22, 42, 76);
    border-inline-start-color: rgb(22, 42, 76);
    box-sizing: border-box;
    caret-color: rgb(22, 42, 76);
    color: rgb(22, 42, 76);
    column-rule-color: rgb(22, 42, 76);
    perspective-origin: 0px 0px;
    text-align: center;
    text-decoration: none solid rgb(22, 42, 76);
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border: 0px none rgb(22, 42, 76);
    font: 700 45px / 54px Cabin, sans-serif;
    outline: rgb(22, 42, 76) none 0px;
}/*#whycjuni1BR_5*/

#whycjuni1BR_5:after {
    border-block-end-color: rgb(22, 42, 76);
    border-block-start-color: rgb(22, 42, 76);
    border-inline-end-color: rgb(22, 42, 76);
    border-inline-start-color: rgb(22, 42, 76);
    caret-color: rgb(22, 42, 76);
    color: rgb(22, 42, 76);
    column-rule-color: rgb(22, 42, 76);
    text-align: center;
    text-decoration: none solid rgb(22, 42, 76);
    text-size-adjust: 100%;
    border: 0px none rgb(22, 42, 76);
    font: 700 45px / 54px Cabin, sans-serif;
    outline: rgb(22, 42, 76) none 0px;
}/*#whycjuni1BR_5:after*/

#whycjuni1BR_5:before {
    border-block-end-color: rgb(22, 42, 76);
    border-block-start-color: rgb(22, 42, 76);
    border-inline-end-color: rgb(22, 42, 76);
    border-inline-start-color: rgb(22, 42, 76);
    caret-color: rgb(22, 42, 76);
    color: rgb(22, 42, 76);
    column-rule-color: rgb(22, 42, 76);
    text-align: center;
    text-decoration: none solid rgb(22, 42, 76);
    text-size-adjust: 100%;
    border: 0px none rgb(22, 42, 76);
    font: 700 45px / 54px Cabin, sans-serif;
    outline: rgb(22, 42, 76) none 0px;
}/*#whycjuni1BR_5:before*/

#whycjuni1DIV_6 {
    align-items: center;
    block-size: 584.406px;
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    height: 584.406px;
    inline-size: 1272px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    justify-content: flex-start;
    left: 0px;
    margin-inline-end: 155.5px;
    margin-inline-start: 155.5px;
    max-inline-size: 1272px;
    max-width: 1272px;
    padding-block-end: 30px;
    padding-block-start: 30px;
    padding-inline-end: 30px;
    padding-inline-start: 30px;
    perspective-origin: 636px 292.203px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 636px 292.203px;
    width: 1272px;
    z-index: 3;
    border: 0px none rgb(108, 119, 136);
    font: 13px / 24px Cabin, sans-serif;
    margin: 0px 155.5px;
    outline: rgb(108, 119, 136) none 0px;
    padding: 30px;
}/*#whycjuni1DIV_6*/

#whycjuni1DIV_6:after {
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    border: 0px none rgb(108, 119, 136);
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(108, 119, 136) none 0px;
}/*#whycjuni1DIV_6:after*/

#whycjuni1DIV_6:before {
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    border: 0px none rgb(108, 119, 136);
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(108, 119, 136) none 0px;
}/*#whycjuni1DIV_6:before*/

#whycjuni1DIV_7 {
    align-items: center;
    block-size: 524.406px;
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    box-sizing: border-box;
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    display: flex;
    height: 524.406px;
    inline-size: 1212px;
    justify-content: space-between;
    perspective-origin: 606px 262.203px;
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    transform-origin: 606px 262.203px;
    width: 1212px;
    border: 0px none rgb(108, 119, 136);
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(108, 119, 136) none 0px;
}/*#whycjuni1DIV_7*/

#whycjuni1DIV_7:after {
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    display: block;
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    border: 0px none rgb(108, 119, 136);
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(108, 119, 136) none 0px;
}/*#whycjuni1DIV_7:after*/

#whycjuni1DIV_7:before {
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    display: block;
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    border: 0px none rgb(108, 119, 136);
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(108, 119, 136) none 0px;
}/*#whycjuni1DIV_7:before*/

#whycjuni1DIV_8 {
    align-items: flex-start;
    block-size: 232px;
    border-block-end-color: rgb(22, 42, 76);
    border-block-start-color: rgb(22, 42, 76);
    border-inline-end-color: rgb(22, 42, 76);
    border-inline-start-color: rgb(22, 42, 76);
    box-sizing: border-box;
    caret-color: rgb(22, 42, 76);
    color: rgb(22, 42, 76);
    column-rule-color: rgb(22, 42, 76);
    height: 232px;
    inline-size: 545.391px;
    max-inline-size: 100%;
    max-width: 100%;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-inline-end: 40px;
    padding-inline-start: 40px;
    perspective-origin: 272.688px 116px;
    text-align: left;
    text-decoration: none solid rgb(22, 42, 76);
    text-size-adjust: 100%;
    transform-origin: 272.695px 116px;
    width: 545.391px;
    border: 0px none rgb(22, 42, 76);
    flex-flow: column nowrap;
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(22, 42, 76) none 0px;
    padding: 0px 40px;
}/*#whycjuni1DIV_8*/

#whycjuni1DIV_8:after {
    border-block-end-color: rgb(22, 42, 76);
    border-block-start-color: rgb(22, 42, 76);
    border-inline-end-color: rgb(22, 42, 76);
    border-inline-start-color: rgb(22, 42, 76);
    caret-color: rgb(22, 42, 76);
    color: rgb(22, 42, 76);
    column-rule-color: rgb(22, 42, 76);
    text-align: left;
    text-decoration: none solid rgb(22, 42, 76);
    text-size-adjust: 100%;
    border: 0px none rgb(22, 42, 76);
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(22, 42, 76) none 0px;
}/*#whycjuni1DIV_8:after*/

#whycjuni1DIV_8:before {
    border-block-end-color: rgb(22, 42, 76);
    border-block-start-color: rgb(22, 42, 76);
    border-inline-end-color: rgb(22, 42, 76);
    border-inline-start-color: rgb(22, 42, 76);
    caret-color: rgb(22, 42, 76);
    color: rgb(22, 42, 76);
    column-rule-color: rgb(22, 42, 76);
    text-align: left;
    text-decoration: none solid rgb(22, 42, 76);
    text-size-adjust: 100%;
    border: 0px none rgb(22, 42, 76);
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(22, 42, 76) none 0px;
}/*#whycjuni1DIV_8:before*/

#whycjuni1DIV_9 {
    block-size: 24px;
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    height: 24px;
    inline-size: 465.391px;
    letter-spacing: 0.65px;
    margin-block-end: 10px;
    perspective-origin: 232.688px 12px;
    text-align: left;
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    text-transform: uppercase;
    transform-origin: 232.695px 12px;
    width: 465.391px;
    border: 0px solid rgb(0, 0, 0);
    font: 700 13px / 24px Cabin, sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(108, 119, 136) none 0px;
}/*#whycjuni1DIV_9*/

#whycjuni1DIV_9:after {
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    letter-spacing: 0.65px;
    text-align: left;
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    text-transform: uppercase;
    border: 0px none rgb(108, 119, 136);
    font: 700 13px / 24px Cabin, sans-serif;
    outline: rgb(108, 119, 136) none 0px;
}/*#whycjuni1DIV_9:after*/

#whycjuni1DIV_9:before {
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    letter-spacing: 0.65px;
    text-align: left;
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    text-transform: uppercase;
    border: 0px none rgb(108, 119, 136);
    font: 700 13px / 24px Cabin, sans-serif;
    outline: rgb(108, 119, 136) none 0px;
}/*#whycjuni1DIV_9:before*/

#whycjuni1H2_10 {
    block-size: 84px;
    border-block-end-color: rgb(22, 42, 76);
    border-block-start-color: rgb(22, 42, 76);
    border-inline-end-color: rgb(22, 42, 76);
    border-inline-start-color: rgb(22, 42, 76);
    box-sizing: border-box;
    caret-color: rgb(22, 42, 76);
    color: rgb(22, 42, 76);
    column-rule-color: rgb(22, 42, 76);
    height: 84px;
    inline-size: 465.391px;
    margin-block-end: 10px;
    margin-block-start: 0px;
    perspective-origin: 232.688px 42px;
    text-align: left;
    text-decoration: none solid rgb(22, 42, 76);
    text-size-adjust: 100%;
    transform-origin: 232.695px 42px;
    width: 465.391px;
    border: 0px none rgb(22, 42, 76);
    font: 700 35px / 42px Cabin, sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(22, 42, 76) none 0px;
}/*#whycjuni1H2_10*/

#whycjuni1H2_10:after {
    border-block-end-color: rgb(22, 42, 76);
    border-block-start-color: rgb(22, 42, 76);
    border-inline-end-color: rgb(22, 42, 76);
    border-inline-start-color: rgb(22, 42, 76);
    caret-color: rgb(22, 42, 76);
    color: rgb(22, 42, 76);
    column-rule-color: rgb(22, 42, 76);
    text-align: left;
    text-decoration: none solid rgb(22, 42, 76);
    text-size-adjust: 100%;
    border: 0px none rgb(22, 42, 76);
    font: 700 35px / 42px Cabin, sans-serif;
    outline: rgb(22, 42, 76) none 0px;
}/*#whycjuni1H2_10:after*/

#whycjuni1H2_10:before {
    border-block-end-color: rgb(22, 42, 76);
    border-block-start-color: rgb(22, 42, 76);
    border-inline-end-color: rgb(22, 42, 76);
    border-inline-start-color: rgb(22, 42, 76);
    caret-color: rgb(22, 42, 76);
    color: rgb(22, 42, 76);
    column-rule-color: rgb(22, 42, 76);
    text-align: left;
    text-decoration: none solid rgb(22, 42, 76);
    text-size-adjust: 100%;
    border: 0px none rgb(22, 42, 76);
    font: 700 35px / 42px Cabin, sans-serif;
    outline: rgb(22, 42, 76) none 0px;
}/*#whycjuni1H2_10:before*/

#whycjuni1P_11 {
    align-self: flex-start;
    block-size: 64px;
    border-block-end-color: rgb(63, 76, 98);
    border-block-start-color: rgb(63, 76, 98);
    border-inline-end-color: rgb(63, 76, 98);
    border-inline-start-color: rgb(63, 76, 98);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(63, 76, 98);
    color: rgb(63, 76, 98);
    column-rule-color: rgb(63, 76, 98);
    height: 64px;
    inline-size: 465.391px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    margin-block-end: 10px;
    margin-block-start: 0px;
    perspective-origin: 232.688px 32px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(63, 76, 98);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 232.695px 32px;
    width: 465.391px;
    border: 0px none rgb(63, 76, 98);
    font: 500 20px / 32px Cabin, sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(63, 76, 98) none 0px;
}/*#whycjuni1P_11*/

#whycjuni1P_11:after {
    border-block-end-color: rgb(63, 76, 98);
    border-block-start-color: rgb(63, 76, 98);
    border-inline-end-color: rgb(63, 76, 98);
    border-inline-start-color: rgb(63, 76, 98);
    caret-color: rgb(63, 76, 98);
    color: rgb(63, 76, 98);
    column-rule-color: rgb(63, 76, 98);
    text-align: left;
    text-decoration: none solid rgb(63, 76, 98);
    text-size-adjust: 100%;
    border: 0px none rgb(63, 76, 98);
    font: 500 20px / 32px Cabin, sans-serif;
    outline: rgb(63, 76, 98) none 0px;
}/*#whycjuni1P_11:after*/

#whycjuni1P_11:before {
    border-block-end-color: rgb(63, 76, 98);
    border-block-start-color: rgb(63, 76, 98);
    border-inline-end-color: rgb(63, 76, 98);
    border-inline-start-color: rgb(63, 76, 98);
    caret-color: rgb(63, 76, 98);
    color: rgb(63, 76, 98);
    column-rule-color: rgb(63, 76, 98);
    text-align: left;
    text-decoration: none solid rgb(63, 76, 98);
    text-size-adjust: 100%;
    border: 0px none rgb(63, 76, 98);
    font: 500 20px / 32px Cabin, sans-serif;
    outline: rgb(63, 76, 98) none 0px;
}/*#whycjuni1P_11:before*/

#whycjuni1A_12 {
    align-self: flex-start;
    border-block-end-color: rgba(255, 255, 255, 0.9);
    border-block-start-color: rgba(255, 255, 255, 0.9);
    border-inline-end-color: rgba(255, 255, 255, 0.9);
    border-inline-start-color: rgba(255, 255, 255, 0.9);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgba(255, 255, 255, 0.9);
    color: rgba(255, 255, 255, 0.9);
    column-rule-color: rgba(255, 255, 255, 0.9);
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    margin-block-end: 6px;
    perspective-origin: 0px 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgba(255, 255, 255, 0.9);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 0px 0px;
    border: 0px none rgba(255, 255, 255, 0.9);
    font: 500 18px / 30px Cabin, sans-serif;
    margin: 0px 0px 6px;
    outline: rgba(255, 255, 255, 0.9) none 0px;
}/*#whycjuni1A_12*/

#whycjuni1A_12:after {
    border-block-end-color: rgba(255, 255, 255, 0.9);
    border-block-start-color: rgba(255, 255, 255, 0.9);
    border-inline-end-color: rgba(255, 255, 255, 0.9);
    border-inline-start-color: rgba(255, 255, 255, 0.9);
    caret-color: rgba(255, 255, 255, 0.9);
    color: rgba(255, 255, 255, 0.9);
    column-rule-color: rgba(255, 255, 255, 0.9);
    text-align: left;
    text-decoration: none solid rgba(255, 255, 255, 0.9);
    text-size-adjust: 100%;
    border: 0px none rgba(255, 255, 255, 0.9);
    font: 500 18px / 30px Cabin, sans-serif;
    outline: rgba(255, 255, 255, 0.9) none 0px;
}/*#whycjuni1A_12:after*/

#whycjuni1A_12:before {
    border-block-end-color: rgba(255, 255, 255, 0.9);
    border-block-start-color: rgba(255, 255, 255, 0.9);
    border-inline-end-color: rgba(255, 255, 255, 0.9);
    border-inline-start-color: rgba(255, 255, 255, 0.9);
    caret-color: rgba(255, 255, 255, 0.9);
    color: rgba(255, 255, 255, 0.9);
    column-rule-color: rgba(255, 255, 255, 0.9);
    text-align: left;
    text-decoration: none solid rgba(255, 255, 255, 0.9);
    text-size-adjust: 100%;
    border: 0px none rgba(255, 255, 255, 0.9);
    font: 500 18px / 30px Cabin, sans-serif;
    outline: rgba(255, 255, 255, 0.9) none 0px;
}/*#whycjuni1A_12:before*/

#whycjuni1IMG_13 {
    align-self: stretch;
    block-size: 524.406px;
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
    box-sizing: border-box;
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    display: block;
    height: 524.406px;
    inline-size: 545.391px;
    max-inline-size: 50%;
    max-width: 100%;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 272.688px 262.203px;
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    transform-origin: 272.695px 262.203px;
    vertical-align: middle;
    width: 545.391px;
    border: 0px none rgb(108, 119, 136);
    border-radius: 10px;
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(108, 119, 136) none 0px;
}/*#whycjuni1IMG_13*/

#whycjuni1IMG_13:after {
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    border: 0px none rgb(108, 119, 136);
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(108, 119, 136) none 0px;
}/*#whycjuni1IMG_13:after*/

#whycjuni1IMG_13:before {
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    border: 0px none rgb(108, 119, 136);
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(108, 119, 136) none 0px;
}/*#whycjuni1IMG_13:before*/

#whycjuni1IMG_14 {
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    display: none;
    inset-block-end: 0px;
    inset-block-start: 10%;
    inset-inline-end: 0px;
    inset-inline-start: 9.6px;
    left: 9.6px;
    max-inline-size: 100%;
    max-width: 100%;
    position: absolute;
    right: 0px;
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    top: 10%;
    vertical-align: middle;
    z-index: 1;
    border: 0px none rgb(108, 119, 136);
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(108, 119, 136) none 0px;
}/*#whycjuni1IMG_14*/

#whycjuni1IMG_14:after {
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    border: 0px none rgb(108, 119, 136);
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(108, 119, 136) none 0px;
}/*#whycjuni1IMG_14:after*/

#whycjuni1IMG_14:before {
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    border: 0px none rgb(108, 119, 136);
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(108, 119, 136) none 0px;
}/*#whycjuni1IMG_14:before*/

#whycjuni1IMG_15 {
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    box-sizing: border-box;
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    display: none;
    inset-block-start: 25%;
    inset-inline-end: 65px;
    max-inline-size: 100%;
    max-width: 100%;
    position: absolute;
    right: 65px;
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    top: 25%;
    vertical-align: middle;
    z-index: 1;
    border: 0px none rgb(108, 119, 136);
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(108, 119, 136) none 0px;
}/*#whycjuni1IMG_15*/

#whycjuni1IMG_15:after {
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    border: 0px none rgb(108, 119, 136);
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(108, 119, 136) none 0px;
}/*#whycjuni1IMG_15:after*/

#whycjuni1IMG_15:before {
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    border: 0px none rgb(108, 119, 136);
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(108, 119, 136) none 0px;
}/*#whycjuni1IMG_15:before*/




/* whycjuni2 */


#whycjuni2DIV_1 {
    align-items: center;
    block-size: 512.422px;
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    height: 512.422px;
    inline-size: 1272px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    justify-content: flex-start;
    left: 0px;
    margin-inline-end: 155.5px;
    margin-inline-start: 155.5px;
    max-inline-size: 1272px;
    max-width: 1272px;
    padding-block-end: 30px;
    padding-block-start: 30px;
    padding-inline-end: 30px;
    padding-inline-start: 30px;
    perspective-origin: 636px 256.203px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 636px 256.211px;
    width: 1272px;
    z-index: 3;
    border: 0px none rgb(108, 119, 136);
    font: 13px / 24px Cabin, sans-serif;
    margin: 0px 155.5px;
    outline: rgb(108, 119, 136) none 0px;
    padding: 30px;
}/*#whycjuni2DIV_1*/

#whycjuni2DIV_1:after {
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    border: 0px none rgb(108, 119, 136);
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(108, 119, 136) none 0px;
}/*#whycjuni2DIV_1:after*/

#whycjuni2DIV_1:before {
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    border: 0px none rgb(108, 119, 136);
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(108, 119, 136) none 0px;
}/*#whycjuni2DIV_1:before*/

#whycjuni2DIV_2 {
    align-items: center;
    block-size: 452.422px;
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    box-sizing: border-box;
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    display: flex;
    height: 452.422px;
    inline-size: 1212px;
    justify-content: center;
    perspective-origin: 606px 226.203px;
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    transform-origin: 606px 226.211px;
    width: 1212px;
    border: 0px none rgb(108, 119, 136);
    flex-flow: row-reverse nowrap;
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(108, 119, 136) none 0px;
}/*#whycjuni2DIV_2*/

#whycjuni2DIV_2:after {
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    display: block;
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    border: 0px none rgb(108, 119, 136);
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(108, 119, 136) none 0px;
}/*#whycjuni2DIV_2:after*/

#whycjuni2DIV_2:before {
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    display: block;
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    border: 0px none rgb(108, 119, 136);
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(108, 119, 136) none 0px;
}/*#whycjuni2DIV_2:before*/

#whycjuni2DIV_3 {
    align-items: flex-start;
    block-size: 232px;
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    box-sizing: border-box;
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    height: 232px;
    inline-size: 545.391px;
    max-inline-size: 100%;
    max-width: 100%;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-inline-start: 60px;
    perspective-origin: 272.688px 116px;
    text-align: left;
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    transform-origin: 272.695px 116px;
    width: 545.391px;
    border: 0px none rgb(108, 119, 136);
    flex-flow: column nowrap;
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(108, 119, 136) none 0px;
    padding: 0px 0px 0px 60px;
}/*#whycjuni2DIV_3*/

#whycjuni2DIV_3:after {
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    text-align: left;
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    border: 0px none rgb(108, 119, 136);
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(108, 119, 136) none 0px;
}/*#whycjuni2DIV_3:after*/

#whycjuni2DIV_3:before {
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    text-align: left;
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    border: 0px none rgb(108, 119, 136);
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(108, 119, 136) none 0px;
}/*#whycjuni2DIV_3:before*/

#whycjuni2DIV_4 {
    block-size: 24px;
    border-block-end-style: solid;
    border-block-start-style: solid;
    border-inline-end-style: solid;
    border-inline-start-style: solid;
    box-sizing: border-box;
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    height: 24px;
    inline-size: 485.391px;
    letter-spacing: 0.65px;
    margin-block-end: 10px;
    perspective-origin: 242.688px 12px;
    text-align: left;
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    text-transform: uppercase;
    transform-origin: 242.695px 12px;
    width: 485.391px;
    border: 0px solid rgb(0, 0, 0);
    font: 700 13px / 24px Cabin, sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(108, 119, 136) none 0px;
}/*#whycjuni2DIV_4*/

#whycjuni2DIV_4:after {
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    letter-spacing: 0.65px;
    text-align: left;
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    text-transform: uppercase;
    border: 0px none rgb(108, 119, 136);
    font: 700 13px / 24px Cabin, sans-serif;
    outline: rgb(108, 119, 136) none 0px;
}/*#whycjuni2DIV_4:after*/

#whycjuni2DIV_4:before {
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    letter-spacing: 0.65px;
    text-align: left;
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    text-transform: uppercase;
    border: 0px none rgb(108, 119, 136);
    font: 700 13px / 24px Cabin, sans-serif;
    outline: rgb(108, 119, 136) none 0px;
}/*#whycjuni2DIV_4:before*/

#whycjuni2H2_5 {
    block-size: 84px;
    border-block-end-color: rgb(22, 42, 76);
    border-block-start-color: rgb(22, 42, 76);
    border-inline-end-color: rgb(22, 42, 76);
    border-inline-start-color: rgb(22, 42, 76);
    box-sizing: border-box;
    caret-color: rgb(22, 42, 76);
    color: rgb(22, 42, 76);
    column-rule-color: rgb(22, 42, 76);
    height: 84px;
    inline-size: 485.391px;
    margin-block-end: 10px;
    margin-block-start: 0px;
    perspective-origin: 242.688px 42px;
    text-align: left;
    text-decoration: none solid rgb(22, 42, 76);
    text-size-adjust: 100%;
    transform-origin: 242.695px 42px;
    width: 485.391px;
    border: 0px none rgb(22, 42, 76);
    font: 700 35px / 42px Cabin, sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(22, 42, 76) none 0px;
}/*#whycjuni2H2_5*/

#whycjuni2H2_5:after {
    border-block-end-color: rgb(22, 42, 76);
    border-block-start-color: rgb(22, 42, 76);
    border-inline-end-color: rgb(22, 42, 76);
    border-inline-start-color: rgb(22, 42, 76);
    caret-color: rgb(22, 42, 76);
    color: rgb(22, 42, 76);
    column-rule-color: rgb(22, 42, 76);
    text-align: left;
    text-decoration: none solid rgb(22, 42, 76);
    text-size-adjust: 100%;
    border: 0px none rgb(22, 42, 76);
    font: 700 35px / 42px Cabin, sans-serif;
    outline: rgb(22, 42, 76) none 0px;
}/*#whycjuni2H2_5:after*/

#whycjuni2H2_5:before {
    border-block-end-color: rgb(22, 42, 76);
    border-block-start-color: rgb(22, 42, 76);
    border-inline-end-color: rgb(22, 42, 76);
    border-inline-start-color: rgb(22, 42, 76);
    caret-color: rgb(22, 42, 76);
    color: rgb(22, 42, 76);
    column-rule-color: rgb(22, 42, 76);
    text-align: left;
    text-decoration: none solid rgb(22, 42, 76);
    text-size-adjust: 100%;
    border: 0px none rgb(22, 42, 76);
    font: 700 35px / 42px Cabin, sans-serif;
    outline: rgb(22, 42, 76) none 0px;
}/*#whycjuni2H2_5:before*/

#whycjuni2P_6 {
    align-self: flex-start;
    block-size: 64px;
    border-block-end-color: rgb(63, 76, 98);
    border-block-start-color: rgb(63, 76, 98);
    border-inline-end-color: rgb(63, 76, 98);
    border-inline-start-color: rgb(63, 76, 98);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(63, 76, 98);
    color: rgb(63, 76, 98);
    column-rule-color: rgb(63, 76, 98);
    height: 64px;
    inline-size: 485.391px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    margin-block-end: 10px;
    margin-block-start: 0px;
    perspective-origin: 242.688px 32px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(63, 76, 98);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 242.695px 32px;
    width: 485.391px;
    border: 0px none rgb(63, 76, 98);
    font: 500 20px / 32px Cabin, sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(63, 76, 98) none 0px;
}/*#whycjuni2P_6*/

#whycjuni2P_6:after {
    border-block-end-color: rgb(63, 76, 98);
    border-block-start-color: rgb(63, 76, 98);
    border-inline-end-color: rgb(63, 76, 98);
    border-inline-start-color: rgb(63, 76, 98);
    caret-color: rgb(63, 76, 98);
    color: rgb(63, 76, 98);
    column-rule-color: rgb(63, 76, 98);
    text-align: left;
    text-decoration: none solid rgb(63, 76, 98);
    text-size-adjust: 100%;
    border: 0px none rgb(63, 76, 98);
    font: 500 20px / 32px Cabin, sans-serif;
    outline: rgb(63, 76, 98) none 0px;
}/*#whycjuni2P_6:after*/

#whycjuni2P_6:before {
    border-block-end-color: rgb(63, 76, 98);
    border-block-start-color: rgb(63, 76, 98);
    border-inline-end-color: rgb(63, 76, 98);
    border-inline-start-color: rgb(63, 76, 98);
    caret-color: rgb(63, 76, 98);
    color: rgb(63, 76, 98);
    column-rule-color: rgb(63, 76, 98);
    text-align: left;
    text-decoration: none solid rgb(63, 76, 98);
    text-size-adjust: 100%;
    border: 0px none rgb(63, 76, 98);
    font: 500 20px / 32px Cabin, sans-serif;
    outline: rgb(63, 76, 98) none 0px;
}/*#whycjuni2P_6:before*/

#whycjuni2A_7 {
    align-self: flex-start;
    border-block-end-color: rgba(255, 255, 255, 0.9);
    border-block-start-color: rgba(255, 255, 255, 0.9);
    border-inline-end-color: rgba(255, 255, 255, 0.9);
    border-inline-start-color: rgba(255, 255, 255, 0.9);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgba(255, 255, 255, 0.9);
    color: rgba(255, 255, 255, 0.9);
    column-rule-color: rgba(255, 255, 255, 0.9);
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    margin-block-end: 6px;
    perspective-origin: 0px 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgba(255, 255, 255, 0.9);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 0px 0px;
    border: 0px none rgba(255, 255, 255, 0.9);
    font: 500 18px / 30px Cabin, sans-serif;
    margin: 0px 0px 6px;
    outline: rgba(255, 255, 255, 0.9) none 0px;
}/*#whycjuni2A_7*/

#whycjuni2A_7:after {
    border-block-end-color: rgba(255, 255, 255, 0.9);
    border-block-start-color: rgba(255, 255, 255, 0.9);
    border-inline-end-color: rgba(255, 255, 255, 0.9);
    border-inline-start-color: rgba(255, 255, 255, 0.9);
    caret-color: rgba(255, 255, 255, 0.9);
    color: rgba(255, 255, 255, 0.9);
    column-rule-color: rgba(255, 255, 255, 0.9);
    text-align: left;
    text-decoration: none solid rgba(255, 255, 255, 0.9);
    text-size-adjust: 100%;
    border: 0px none rgba(255, 255, 255, 0.9);
    font: 500 18px / 30px Cabin, sans-serif;
    outline: rgba(255, 255, 255, 0.9) none 0px;
}/*#whycjuni2A_7:after*/

#whycjuni2A_7:before {
    border-block-end-color: rgba(255, 255, 255, 0.9);
    border-block-start-color: rgba(255, 255, 255, 0.9);
    border-inline-end-color: rgba(255, 255, 255, 0.9);
    border-inline-start-color: rgba(255, 255, 255, 0.9);
    caret-color: rgba(255, 255, 255, 0.9);
    color: rgba(255, 255, 255, 0.9);
    column-rule-color: rgba(255, 255, 255, 0.9);
    text-align: left;
    text-decoration: none solid rgba(255, 255, 255, 0.9);
    text-size-adjust: 100%;
    border: 0px none rgba(255, 255, 255, 0.9);
    font: 500 18px / 30px Cabin, sans-serif;
    outline: rgba(255, 255, 255, 0.9) none 0px;
}/*#whycjuni2A_7:before*/

#whycjuni2IMG_8 {
    align-self: stretch;
    block-size: 452.422px;
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
    box-sizing: border-box;
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    display: block;
    height: 452.422px;
    inline-size: 545.391px;
    max-inline-size: 50%;
    max-width: 50%;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 272.688px 226.203px;
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    transform-origin: 272.695px 226.211px;
    vertical-align: middle;
    width: 545.391px;
    border: 0px none rgb(108, 119, 136);
    border-radius: 10px;
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(108, 119, 136) none 0px;
}/*#whycjuni2IMG_8*/

#whycjuni2IMG_8:after {
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    border: 0px none rgb(108, 119, 136);
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(108, 119, 136) none 0px;
}/*#whycjuni2IMG_8:after*/

#whycjuni2IMG_8:before {
    border-block-end-color: rgb(108, 119, 136);
    border-block-start-color: rgb(108, 119, 136);
    border-inline-end-color: rgb(108, 119, 136);
    border-inline-start-color: rgb(108, 119, 136);
    caret-color: rgb(108, 119, 136);
    color: rgb(108, 119, 136);
    column-rule-color: rgb(108, 119, 136);
    text-decoration: none solid rgb(108, 119, 136);
    text-size-adjust: 100%;
    border: 0px none rgb(108, 119, 136);
    font: 13px / 24px Cabin, sans-serif;
    outline: rgb(108, 119, 136) none 0px;
}/*#whycjuni2IMG_8:before*/

@media (min-width:0px) and (max-width:425px){

    #whycjuni1H2_4{
font-size: 1.5rem;
padding-left: 70px;
margin-top: 40px;

    }
    #whycjuni1DIV_7{
        display: flex;
        flex-direction: column;
        margin-left: -510px;
    }

    #whycjuni1H2_10{
    font-size: 1.3rem;
    max-width: 70%;
    line-height: 1.2;

    }

    #whycjuni1DIV_8 p{
       text-align:left;
    }

    #whycjuni1P_11{
        font-size: 1.1rem;
        
        max-width: 60%;
        line-height: 1.1; 
        margin-top: -20px;
    }

    .whycjuniimage1{
        margin-top: -140px;
        margin-left: 30px;
    }
    #whycjuni1DIV_1{
        margin-top: -200px;
        background-color: lightblue;
    }

    #whycjuni1DIV_2{
        display: flex;
        flex-direction: column-reverse;
        margin-left: -510px;
    }
    #whycjuni1DIV_8{
    margin-left: -20px;
    }

    #whycjuni1IMG_13{
        max-width: 50%;
    }

    #whycjuni2DIV_1{
        display: none;
    }
}

@media (min-width:425px) and (max-width:767px){

    #whycjuni1H2_4{
font-size: 1.5rem;
padding-left: 470px;
margin-top: 40px;

    }
    #whycjuni1DIV_7{
        display: flex;
        flex-direction: column;
        margin-left: -380px;
    }

    #whycjuni1H2_10{
    font-size: 1.4rem;
    max-width: 80%;
    line-height: 1.2;

    }

    #whycjuni1DIV_8 p{
       text-align:left;
    }

    #whycjuni1P_11{
        font-size: 1.2rem;
        
        max-width: 80%;
        line-height: 1.1; 
        margin-top: -20px;
    }

    .whycjuniimage1{
        margin-top: -140px;
        margin-left: 90px;
    }
    #whycjuni1DIV_1{
        margin-top: -200px;
        background-color: lightblue;
    }

    #whycjuni1DIV_2{
        display: flex;
        flex-direction: column-reverse;
        margin-left: -510px;
    }
    #whycjuni1DIV_8{
    margin-left: -20px;
    }
    #whycjuni1IMG_13{
        max-width: 50%;
    }
    #whycjuni2DIV_1{
        display: none;
    }
}

@media (min-width:640px) and (max-width:800px){

    #whycjuni1H2_4{
font-size: 1.5rem;
padding-left: 470px;
margin-top: 40px;

    }
    #whycjuni1DIV_7{
        display: flex;
        flex-direction: column;
        margin-left: -380px;
    }

    #whycjuni1H2_10{
    font-size: 1.4rem;
    max-width: 80%;
    line-height: 1.2;

    }

    #whycjuni1DIV_8 p{
       text-align:left;
    }

    #whycjuni1P_11{
        font-size: 1.2rem;
        
        max-width: 80%;
        line-height: 1.1; 
        margin-top: -20px;
    }

    .whycjuniimage1{
        margin-top: -140px;
        margin-left: 90px;
    }
    #whycjuni1DIV_1{
        margin-top: -200px;
        background-color: lightblue;
    }

    #whycjuni1DIV_2{
        display: flex;
        flex-direction: column-reverse;
        margin-left: -510px;
    }
    #whycjuni1DIV_8{
    margin-left: -20px;
    }
    #whycjuni1IMG_13{
        max-width: 50%;
    }
    #whycjuni2DIV_1{
        display: none;
    }
}

